<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="login">
  <fieldset>
	<legend><h1>Login</h1></legend>
    <form method="post">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button> </br>
        
    </form>
    <a class="btn btn-primary btn-block btn-large" href="/registration" style="text-decoration:none; color: white"> Sign Up </a>
    </fieldset>
    <label class="label label-default" style="color: red"><%=message%></label>

</div>
  
    <script src="index.js"></script>

</body>
</html>
